.backBlack {
  height: 100vh;
  min-height: 100vh;
  color: white;
  background-color: black;
  padding-top: 0.1px;
}
.backWhite {
  height: 100vh;
  min-height: 100vh;
  color: black;
  background-color: whitesmoke;
  padding-top: 0.1px;
}
.sHeaderBox {
  width: 100%;
}
.sHeader {
  background: black;
  font-family: StockTicker;
  font-size: 50px;
  color: lime;
  text-align: center;
  padding: 20px 0;
}

/* Sliding Text */
.sDBArea  {
  width: 100%;
  background: black;
  overflow: hidden;
}
.sDotBorder {
  width: 100%;
  height: 2.5px;
  background-image: linear-gradient(to right, black 50%,white 50%);
  background-size: 5px 2.5px;
  background-repeat: repeat-x;
}
.sHeaderText {
  width: 1000px;
  font-family: StockTicker;
  font-size: 30px;
  color: lime;
  text-align: center;
  padding: 5px 0 1px;
  margin: 0 auto;
  animation: tickerSlide 25s infinite linear;
}
.sRed {
  color: red;
}

/* Ticker Search */
.sSearchBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 20px;
  margin: 10px auto 0;
  
}
.sSearch {
  margin-right: 20px;
}
.sSearchInput {
  width: 220px;
  background: transparent;
  color: white;
  font-size: 20px;
  border: 0;
  outline: 0;
  border-bottom: 2px solid gray;
  border-style: solid;
}

/* Search Table */
.sTableArea {
  overflow: auto;
  margin: 0px 20px 10px;
}
.sTable {
  width: 90%;
  text-align: center;
  border-collapse: collapse;
  margin: 50px auto 0;
}
th, td {
  min-width: 80px;
  border: 1px solid gray;
  padding: 2px 5px;
}

@keyframes tickerSlide {
  0% {
    transform: translateX(250%);
  }
  100% {
    transform: translateX(-250%);
  }
}