body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar{
width: 10px;
}
body::-webkit-scrollbar-track {  
  background: grey;
}
body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(lime 50%, red 50%);
  border: 2px solid grey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "JdLed5Regular-oRdA";
  src: local("JdLed5Regular-oRdA"), url(./assets/fonts/JdLed5Regular-oRdA.ttf) format("truetype");
}

@font-face {
  font-family: "StockTicker";
  src: local("StockTicker"), url(./assets/fonts/StockTicker.TTF) format("truetype");
}