/* Sliding Text */
.sDBArea  {
  width: 100%;
  background: black;
  overflow: hidden;
}
.sDotBorder {
  width: 100%;
  height: 2.5px;
  background-image: linear-gradient(to right, black 50%,white 50%);
  background-size: 5px 2.5px;
  background-repeat: repeat-x;
}
.sHeaderText {
  width: 100%;
  font-family: StockTicker;
  font-size: 30px;
  color: lime;
  text-align: center;
  padding: 5px 0 1px;
  margin: 0 auto;
  animation: tickerSlide 25s infinite linear;
}
.sRed {
  color: red;
}

/* Ticker Search */
.sSearchBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 20px;
  margin: 10px auto 0;
}
.sSearch {
  background: lightblue;
  font-size: 15px;
  border-radius: 5px;
  border-style: none;
  margin-right: 20px;
}
.sSearchInput {
  width: 220px;
  background: transparent;
  color: white;
  font-size: 20px;
  border: 0;
  outline: 0;
  border-bottom: 2px solid gray;
  border-style: solid;
}
.sSearchHeaderBox {
  width: auto;
  height: 500px;
  background: url("../../assets/images/stockChart.png") no-repeat;
  background-size: 100% 100%;
  margin: 40px auto 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sSearchHeader {
  font-family: 'Tangerine', cursive;
  text-align: center;
  font-size: 80px;
}


@keyframes tickerSlide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}