.smcTableHeader, .smcHeaderText {
  font-family: StockTicker;
  text-align: center;
  color: lime;
  font-size: 25px;
  text-decoration: underline;
  margin: 25px auto 0;
}
.smcTable {
  width: 90%;
  text-align: center;
  border-collapse: collapse;
  border: 2px solid blue;
  margin: 25px auto 0;
}
.smcTable th, .smcTable td {
  min-width: 80px;
  border: 1px solid gray;
  padding: 2px 5px;
}
.smcTable th{
  color: lightgrey;
}
.smcSearch {
  background: lightblue;
  font-size: 15px;
  border-radius: 5px;
  border-style: none;
}
.smcHeaderText{
  color: white;
  text-decoration: none;
  margin: 50px auto 0;
}
.smcLink{
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline lime;
}
